html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9cb7ce;
    padding: 20px 40px;
    color: white;
}

header img {
    height: 70px;
}

body {
    background-image: url("Image de fond.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.txt {
    text-align: center;
    color: rgb(156, 152, 156);
}
.photo img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}
.galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 photos par ligne */
    gap: 20px; /* espace entre les photos */
    padding: 20px;
}